<configuration>
	<include
		resource="org/springframework/boot/logging/logback/base.xml" />

	<!-- this is related to application log -->
	<appender name="DAILY_ROLLING_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/application.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/application/%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory> <!-- Keep logs for 30 days -->
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- this is related to json log -->
	<appender name="DAILY_JSON_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/json.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/json/%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory> <!-- Keep logs for 30 days -->
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %msg%n</pattern>
		</encoder>
	</appender>
	

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="DAILY_ROLLING_FILE" />
	</root>

	<logger name="JSON" level="INFO" additivity="false">
		<appender-ref ref="DAILY_JSON_FILE" />
	</logger>
</configuration>